.form-pic {
    background: url("https://www.teahub.io/photos/full/3-35429_dogs-desktop-backgrounds-wallpaper-high-definition-dog-wallpaper.jpg") no-repeat top right;
    background-size: cover;
    min-height: 50vh;
    
}